.banner-media {
  /* margin-right: -100px;*/
  margin-right: 0;
  margin-left: 50px;
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 73%;
    background: var(--gradient1);
    z-index: -1;
    border-radius: 125px 30px 30px;
  }

  .shap {
    &:before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='413' height='44' viewBox='0 0 413 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.4829 37.8579L0 0.375V0H413V0.375L375.517 37.8579C367.707 45.6684 355.043 45.6684 347.233 37.8579L323.892 14.5171C316.082 6.70665 303.418 6.70665 295.608 14.5171L272.267 37.8579C264.457 45.6684 251.793 45.6684 243.983 37.8579L220.642 14.5171C212.832 6.70665 200.168 6.70665 192.358 14.5171L169.017 37.8579C161.207 45.6684 148.543 45.6684 140.733 37.8579L117.392 14.5171C109.582 6.70665 96.9184 6.70665 89.1079 14.5171L65.7671 37.8579C57.9566 45.6684 45.2934 45.6684 37.4829 37.8579Z' fill='%23fffaf3'/%3E%3C/svg%3E");
      position: absolute;
      width: 47.77%;
      height: 50px;
      bottom: 0;
      background-size: 100%;
      left: -23%;
      background-position: top;
      background-repeat: no-repeat;
      transform: rotate(180deg);
    }

    &:after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='413' height='44' viewBox='0 0 413 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.4829 37.8579L0 0.375V0H413V0.375L375.517 37.8579C367.707 45.6684 355.043 45.6684 347.233 37.8579L323.892 14.5171C316.082 6.70665 303.418 6.70665 295.608 14.5171L272.267 37.8579C264.457 45.6684 251.793 45.6684 243.983 37.8579L220.642 14.5171C212.832 6.70665 200.168 6.70665 192.358 14.5171L169.017 37.8579C161.207 45.6684 148.543 45.6684 140.733 37.8579L117.392 14.5171C109.582 6.70665 96.9184 6.70665 89.1079 14.5171L65.7671 37.8579C57.9566 45.6684 45.2934 45.6684 37.4829 37.8579Z' fill='%23fffaf3'/%3E%3C/svg%3E");
      position: absolute;
      width: 41.77%;
      height: 50px;
      top: 27%;
      background-size: 100%;
      right: -18%;
      background-position: top;
      background-repeat: no-repeat;
    }
  }

  .border-shap {
    border: 1px solid #DFDFDF;
    position: absolute;
    top: 18%;
    left: -13%;
    width: 61%;
    height: 54%;
    border-radius: 150px 0 0;
    z-index: -1;
  }

  .border-shap2 {
    border: 1px solid #DFDFDF;
    position: absolute;
    bottom: -7%;
    right: -7%;
    width: 50%;
    height: 35%;
    z-index: -1;
    border-radius: 0 0 50px;
  }

  .img-preview {
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      height: auto;
    }
  }

  .star-list {
    .star-1 {
      position: absolute;
      top: 50px;
      left: 100px;
      animation: rotate-360 20s infinite linear;
    }

    .star-2 {
      position: absolute;
      top: 30%;
      right: -15%;
      animation: rotate-360 20s infinite linear;
    }

    .star-3 {
      position: absolute;
      bottom: 20%;
      left: -25%;
      animation: rotate-360 20s infinite linear;
    }
  }

  .bnr-content-bx {
    width: 200px;
    padding: 15px;
    position: absolute;
    top: 38%;
    right: 1vw;
    transition: all .8s;
    border-radius: 15px;
    background: #ffffffb3;
    box-shadow: 0 0 60px #a8030326;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    display: flex;
    align-items: center;

    .dz-media {
      position: relative;
      z-index: 1;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 15px 40px #0000001a;
      margin-right: 10px;

      img {
        max-width: 100%;
        height: auto;
        width: 100%;
      }
    }

    .dz-info {
      position: relative;
      z-index: 1;
      padding-top: 12px;

      .dz-title {
        color: var(--title);
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
      }

      .price {
        margin: 0;
        color: var(--primary);
      }
    }
  }

  .bnr-customer-bx {
    padding: 25px;
    position: absolute;
    bottom: 12%;
    left: -3vw;
    transition: all .8s;
    border-radius: 15px;
    background: #ffffffb3;
    box-shadow: 0 0 60px #a8030326;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    display: flex;
    align-items: center;
    width: 270px;
    justify-content: center;

    .dz-heart {
      fill: var(--primary);
      stroke: var(--primary);
    }

    ul {
      display: flex;
      padding: 0 10px;

      .customer-image {
        width: 60px;
        min-width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-left: -10px;

        img {
          border: 2px solid rgb(255, 255, 255);
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.circular_badge {
  &:after {
    content: "";
    position: absolute;
    top: 33%;
    left: 0px;
    width: 100%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(2.5);
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg width='516' height='252' viewBox='0 0 516 252' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='257.602' cy='126' r='126' fill='%23fef08a'/%3E%3Cpath d='M0 124.603C81.2 112.003 128.8 74.2031 182 25.2031L135.8 124.603H0Z' fill='%23fef08a'/%3E%3Cpath d='M515.203 124.603C434.003 112.003 386.403 74.2031 333.203 25.2031L379.403 124.603H515.203Z' fill='%23fef08a'/%3E%3C/svg%3E");
  }
}

@media (max-width: 1400px) {
  .banner-media {
    margin-right: 0;
  }
}

.partner_section {
  &:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='413' height='44' viewBox='0 0 413 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.4829 37.8579L0 0.375V0H413V0.375L375.517 37.8579C367.707 45.6684 355.043 45.6684 347.233 37.8579L323.892 14.5171C316.082 6.70665 303.418 6.70665 295.608 14.5171L272.267 37.8579C264.457 45.6684 251.793 45.6684 243.983 37.8579L220.642 14.5171C212.832 6.70665 200.168 6.70665 192.358 14.5171L169.017 37.8579C161.207 45.6684 148.543 45.6684 140.733 37.8579L117.392 14.5171C109.582 6.70665 96.9184 6.70665 89.1079 14.5171L65.7671 37.8579C57.9566 45.6684 45.2934 45.6684 37.4829 37.8579Z' fill='%23fffaf3'/%3E%3C/svg%3E");
    position: absolute;
    width: 21.77%;
    height: 50px;
    bottom: -12px;
    background-size: 100%;
    right: -4%;
    background-position: left;
    background-repeat: no-repeat;
    transform: rotate(180deg);

    @media (max-width: 1023px) {
      display: none;
    }
  }

  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='413' height='44' viewBox='0 0 413 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.4829 37.8579L0 0.375V0H413V0.375L375.517 37.8579C367.707 45.6684 355.043 45.6684 347.233 37.8579L323.892 14.5171C316.082 6.70665 303.418 6.70665 295.608 14.5171L272.267 37.8579C264.457 45.6684 251.793 45.6684 243.983 37.8579L220.642 14.5171C212.832 6.70665 200.168 6.70665 192.358 14.5171L169.017 37.8579C161.207 45.6684 148.543 45.6684 140.733 37.8579L117.392 14.5171C109.582 6.70665 96.9184 6.70665 89.1079 14.5171L65.7671 37.8579C57.9566 45.6684 45.2934 45.6684 37.4829 37.8579Z' fill='%23fffaf3'/%3E%3C/svg%3E");
    position: absolute;
    width: 21.77%;
    height: 50px;
    top: 0;
    background-size: 100%;
    left: -4%;
    background-position: top;
    background-repeat: no-repeat;

    @media (max-width: 1023px) {
      display: none;
    }
  }
}